---
import EmptyList from '../../components/EmptyList.astro';
import TagPreview from '../../components/TagPreview.astro';
import ArrowRight from '../../icons/ArrowRight.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getAllPosts, getAllTags, getPostsByTag } from '../../services/blog';

const posts = await getAllPosts();
const tags = getAllTags(posts).sort((tagA, tagB) => {
    const postCountTagA = getPostsByTag(posts, tagA.slug).length;
    const postCountTagB = getPostsByTag(posts, tagB.slug).length;
    return postCountTagB - postCountTagA;
});
---

<BaseLayout title="Tags" description="Veja posts agrupados por tags, navegue para a tag de sua prefêrencia e veja os posts relacionados" showHeader={false}>
    <h1 class="mb-12 text-2xl font-serif italic sm:mb-16 sm:text-4xl">Todas as Tags</h1>
    {tags?.length > 0 ? tags.map((tag) => <TagPreview tag={tag} />) : <EmptyList name="Tag" />}
</BaseLayout>
