---
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout title="Welcome to Astro.">
  <main class="flex justify-center items-center min-h-screen">
    <h1 class="text-primary-foreground text-center text-xl">
      Leonardo Ferreira Lima
    </h1>
  </main>
</BaseLayout>
