---
import BaseLayout from '../layouts/BaseLayout.astro';
import Button from '../components/Button.astro';
import Hero from '../components/Hero.astro';
import PostPreview from '../components/PostPreview.astro';
import ProjectPreview from '../components/ProjectPreview.astro';
import siteConfig from '../data/site-config';
import { getAllPosts } from '../services/blog';
import { getAllProjects } from '../services/projects';

const posts = await getAllPosts();

const projects = await getAllProjects();
---

<BaseLayout description={siteConfig.description} image={siteConfig.image}>
    <Hero />
    {
        projects?.length > 0 && (
            <div class="mb-16 sm:mb-24">
                <h2 class="mb-12 text-xl font-serif italic sm:mb-16 sm:text-2xl">Projetos</h2>
                {projects.map((project) => (
                    <ProjectPreview project={project} class="mb-10 sm:mb-12" headingLevel="h3" />
                ))}
                <div class="mt-12 sm:mt-16">
                    <Button href="/projects">Veja todos os Projetos</Button>
                </div>
            </div>
        )
    }
    {
        posts?.length > 0 && (
            <div class="mb-16 sm:mb-24">
                <h2 class="mb-12 text-xl font-serif italic sm:mb-16 sm:text-2xl">Posts</h2>
                {posts.map((post) => (
                    <PostPreview post={post} class="mb-10 sm:mb-12" headingLevel="h3" />
                ))}
                <div class="mt-12 sm:mt-16">
                    <Button href="/blog">Veja todos os Posts</Button>
                </div>
            </div>
        )
    }
</BaseLayout>
