---
export type Props = {
    name: string;
};

const { name } = Astro.props;
---

<div class="h-full my-auto text-4xl text-center">
    <p>Opps!</p>
    <p>Parece que não há nenhum {name}</p>
</div>
