---
import type { GetStaticPathsOptions, Page } from 'astro';
import { type CollectionEntry } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import Pagination from '../../components/Pagination.astro';
import ProjectPreview from '../../components/ProjectPreview.astro';
import siteConfig from '../../data/site-config';
import { getAllProjects } from '../../services/projects';
import EmptyList from '../../components/EmptyList.astro';

export const prerender = true;

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
    const projects = await getAllProjects();
    return paginate(projects, { pageSize: siteConfig.projectsPerPage || 6 });
}

type Props = { page: Page<CollectionEntry<'projects'>> };

const { page } = Astro.props;
const portfolio = page.data;
---

<BaseLayout title="Portfolio" description="Explore um pouco do que eu já construi" showHeader={false}>
    <h1 class="mb-12 text-2xl leading-tight font-serif italic sm:mb-16 sm:text-4xl">Projetos</h1>
    {
        portfolio?.length > 0 ? (
            <>
                {portfolio.map((project) => (
                    <ProjectPreview project={project} class="mb-10 sm:mb-12" />
                ))}
                <Pagination page={page} class="my-16 sm:my-24" />
            </>
        ) : (
            <EmptyList name="Projeto" />
        )
    }
</BaseLayout>
